/* CUSTOM STYLES */
.nav-space{
    height: 56px;
}

.index-body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: black;
    height: 100vh;
}

img{
    max-width: 100%;
}

.media-list-img{
    width: 100px;
}

.logo{
    width: 120px;
}

.contact-icon{
    max-width: 44px;
}

.jumbotron-padding{
    padding-top: 120px;
}