/* OTHER LINKED STYLESHEETS */
@import url(layout.css);

@import url(typography.css);

@import url(class-4-styles.css);


/* CUSTOM STYLES */
.opacity-drop{
    opacity: .5;
    cursor: pointer;
}

.opacity-drop:active{
    opacity: .9;
}

.index-body{
    background-image: url(../assets/img/windmill-mobile.jpg);
}

@media (min-width: 768px){
    .index-body{
        background-image: url(../assets/img/windmill.jpg);
    }
}

/* BOOTSTRAP ADJUSTMENTS */
.bg-light{
    background-color: #ffffff !important;
}