/* ADDITIONAL PAGES */
@import url(layout.css);
@import url(typography.css);

body{
    background-color: white;
}

.cart-icon{
    width: 40px;
}

.splash-body{
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/img/hands-black-bottom.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

ul{
    list-style-type: none;
}

a, .plp-listing, .card, .btn-read, .btn-blog-post, .btn-block, .plp-listing:hover, .card:hover, .btn-blog-post:hover, .card-img-top, .card-img-top:hover{
    cursor: pointer !important;
}

a{
    text-decoration: none !important;
}

.plp-listing, .card, .btn-read, .btn-blog-post, .btn-block, .btn-x{
    transition: all .2s;
}

.plp-listing:hover, .card:hover, .btn-x:hover{
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.plp-listing:active, .btn-read:active, .btn-block:active, .btn-x:active{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.active, .active:hover, .active:active, .active:visited, .active:focus, .text-red{
    color: brown !important;
}

.alert{
    border-radius: 0px;
}

.alert-danger, .btn-primary, .btn-primary:visited, .btn-primary:focus{
    background: brown;
    transition: all .2s;
}

.btn-primary:hover, .btn-primary:active{
    background: darkred !important;
    transform: scale(1.05);
    transition: all .2s;
}

.btn-primary:active{
    transform: scale(.90);
    transition: all .5s;
}

.btn-primary:visited, .btn-primary:active, .btn-primary:hover, .btn-primary:focus, .btn-primary{
    box-shadow: none;
}

.btn-primary{
    border: none;
}

.slide-in{
    animation: slideIn .75s ease;
}

@keyframes slideIn{
    from{
        transform: translateY(-50px);
    }
    to{
        transform: translateY(0px);
    }
}

.dropdown-item:focus{
    background: brown !important;
}

.call-button{
    width: 100%;
}

.box-shadow{
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.2);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgrey !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgrey;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: lightgrey;
}

.bg-brown{
    background-color: #261605;
}

.my-card, .checkout-cart-total{
    border-radius: 10px;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.25);
    border: none;
}

.card-body{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-img-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pdp-deets{
    border-top: 2px solid lightgrey;
}

.pdp-lg-deets{
    border-left: 2px solid lightgrey;
    height: 200px;
}

.carousel-control-next-icon{
    background-image: url(../assets/img/arrow-right.png);
    height: 30px;
}

.carousel-control-prev-icon{
    background-image: url(../assets/img/arrow-left.png);
    height: 30px;
}
/* 
.carousel-control-next:focus, .carousel-control-prev:focus{
    opacity: 0.5;
} */

.bulleted{
    list-style-type: circle;
    padding-left: 20px !important;
}

nav{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid brown;
    background-color: #f8f8f8;
}

.subnav{
    background-color: white !important;
}

.subnav-border{
    border-top: 2px solid brown;
}

.dropdown-menu{
    margin: 1rem 0rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 2px solid brown;
    border-top: 2px solid #f8f8f8;
    background-color: #f8f8f8;
}

.dropdown-mobile-menu{
    border: none;
}

.dropdown-item:hover{
    background-color: brown;
    color: #f8f8f8 !important;
}

.separator{
    border: 1px solid brown;
}

.form-control{
    background-color: #f8f8f8;
    border: none;
    border-bottom: 2px solid brown;
}

.form-control:hover, .form-control:focus, .form-control:active{
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.25);
    border-bottom: 2px solid brown;
}

.btn-submit{
    background-color: brown;
}

hr{
    width: 100%;
}

.nav-link:hover{
    color: brown !important;
}

.card-body{
    background-color: #f8f8f8;
}

.img-fade-in{
    transition: all 0.5s ease;
    opacity: 0;
}

.card:hover .img-fade-in{
    transition: all 0.5s ease;
    opacity: 1;
}

.img-fade-out{
    transition: all 0.5s ease;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.card:hover .img-fade-out{
    transition: all 0.5s ease;
    opacity: 0;
}

.carousel-indicators li{
    background-color: lightgrey;
}

.carousel-indicators .active{
    background-color: brown;
}

.splash-background-color, .index-nav, .cart-total{
    background-color: #f8f8f8 !important;
}

.btn-blog-post:hover, .btn-blog-post:active, .btn-block:hover, .btn-block:active{
    transform: scale(1);
}

.checkout-cart-total{
    height: 100%;
}

.checkout-qty{
    width: 180px;
}

.btn-x{
    width: 50px;
    cursor: pointer !important;
}

.subnav-link{
    color: #545b62;
}

.subnav-link:hover, .subnav-link:active{
    color: brown !important;
}