@font-face{
    font-family: oswald;
    src: url(../assets/fonts/oswald/oswald-regular-webfont.woff);
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@font-face{
    font-family: avant garde;
    src: url(../assets/fonts/avant-garde/avantn-webfont.woff);
}

body, h2, .product-name, .splash-subtitle, .didot{
    font-family: didot;
}

p, form, .cd-cart-trigger .count, .cd-cart, .alert, .call-button, .btn-primary{
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link, .dropdown-item, .oswald{
    font-family: "Oswald-ExtraLight";
}

.roboto{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.avenir{
    font-family: "Avenir";
}

.avant-garde{
    font-family: avant garde;
}

h2{
    font-size: 26pt !important;
}

.product-name{
    font-size: 20pt;
}

.quantity, .delete-item, .price, .select-qty{
    font-size: 18pt !important;
}

.select-qty-sp, .splash-subtitle{
    font-size: 10pt !important;
}

nav, .splash-link{
    font-size: 14pt;
}

.nav-logo{
    font-size: 24pt;
}

.splash-heading{
    font-size: 48pt;
    font-weight: 400;
}

.text-shadow{
    -webkit-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    -moz-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}